.topdiv {
  font-family: Arial, sans-serif;
  
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url("D:/form-assignment/images/ZOHO2.png"), url("D:/form-assignment/images/newbraunfels-bg.png");
  background-repeat: no-repeat, no-repeat;
  background-position: calc(100% - 70px) 40px, center center;

  background-size: 200px 100px, cover; 
  background-attachment: fixed, fixed
}


.form-container {
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.9);
  width: 380px;
  background-color:rgb(244, 250, 250);

}

h2 {
  text-align: center;
  margin-bottom: 15px;
  color: rgb(238, 36, 5);
}

label {
  display: block;
  margin: 10px 0 5px;
  font-weight: bold;
}

input, textarea {
  width: 95%;
  padding: 8px;
  border-radius: 6px;
  border: 1px solid #ccc;
  resize: none;
}

.error {
  color: red;
  font-size: 12px;
}

button {
  margin-top: 15px;
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 6px;
  background: #007BFF;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background: #0056b3;
}

/* Popup styles */
.popup {
  display: none;
  position: fixed;
  left: 0; top: 0;
  width: 100%; height: 100%;
  background: rgba(0,0,0,0.6);
  justify-content: center;
  align-items: center;
}

.popup-content {
  background: white;
  padding: 30px;
  border-radius: 12px;
  width: 450px;  /* slightly larger */
  text-align: left;
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
  position: relative;
}

.popup-content h3 {
  margin-top: 0;
  text-align: center;
}

.popup-content p {
  line-height: 1.8;   /* increased line spacing */
  font-size: 15px;
}

.close-btn {
  margin-top: 20px;
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 6px;
  background: red;
  color: white;
  font-size: 14px;
  cursor: pointer;
}

.close-btn:hover {
  background: darkred;
}
